 .Container {
    background-color: grey;
 }


.text1 {
    background-color: grey;
    text-align: left;
    color: white
    
}

.text2 {
    background-color: grey;
    text-align: left;
    color:white
    
}

.text3 {
    text-align: left;
    background-color: grey;
    color:white;
    
}

/*.borderleft {
    width: 50%;
    text-align: left;
    background-color:rgb(5, 5, 5) ;


}
*/

.bgimage1{
    /* The image used */
background-image:url('../Assets/cafe.jpg');
background-color: grey;
 
    /* Set a specific height */
    height: 500px;
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/*body {
    background-image: url("https://www.chatsworth.org/media/05rf2tmr/chatsworth-kitchen-interior.jpg?width=1600&height=920&format=WebP&rnd=133009825642300000");
   
   }
   */
